---
const PopupMessageCart = 5;
---


<nav class="flex z-50 justify-between w-full items-center top-0 sticky bg-white p-5 border-b-2 border-gray-200">
    <div>
        <h1 class="text-orange-400 text-3xl font-bold">Agora</h1>
    </div>
    <div>
        <a href="" class="p-2 hover:text-gray-500 transition-all">Beranda</a>
        <label for="kategori"></label>
        <select class="outline-0"  name="kategori" id="kategori" class="hover:text-gray-500 transition-all">
            <option value="" disabled selected hidden>Produk</option>
            <option value="/baju">Pakaian</option>
            <option value="food">Makanan</option>
            <option value="fashion">Sepatu</option>
            <option value="">Elektronik</option>
        </select>

        <a href="" class="p-2 hover:text-gray-500 transition-all">Tentang Kami</a>
        <a href="" class="p-2 hover:text-gray-500 transition-all">Kontak</a>
    </div>
    <div>
        <p id="cart" class="absolute top-4 mr-68 rounded-full bg-red-500 w-4 h-4 items-center text-white text-xs text-center">{PopupMessageCart}</p>
        <button class="text-2xl cursor-pointer"><i class="ri-shopping-basket-line"></i></button>
        <button class="text-2xl cursor-pointer"><i class="ri-heart-line"></i></button>
        <button class="text-2xl cursor-pointer"><i class="ri-user-line"></i></button>
    </div>
</nav>